/* :root{
    --primary-color: #767676;
    --secondary-color: #9f9f9f;
    --third-color: #c8c8c8;
    --fourth-color: #e3e3e3;
    --fifth-color: #f1f1f1;
} */

:root{
    --primary-color: #50582e;
    --secondary-color: #cfd382;
    --third-color: #acbc5b;
    --fourth-color: #e3e3e3;
    --fifth-color: #040404;
}

